{% extends 'Base_sistema.html' %}
{% block css_link %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'Alertas.css')}}">


{% endblock %}
{% block content %}
<div class="content-grid">
    <a class= "refresh-btn" href="/Alertas">
        <div class="refresh-btn-div">
            <i style="font-size:24px" class="fa">&#xf021;
            </i>
        </div>
    </a>
    <p class = "Alertas-txt"> Alertas</p>
    <div class="table-div">
        <div class="Alertas-div">
            <table class = "Alertas-table">

                <tr class = "row">
                    <th class= "column" id="column-id">#</th>
                    <th class= "column" id="column-author">Fecha </th>
                    <th class= "column" id="column-title">Ubicación</th>
                    <th class= "column" id="column-action"></th>

                </tr>
                {% for Alerta in Tabla_alerta%}
                <tr class = "row">
                    <td >{{ Alerta.Alerta_id }}</td>
                    <td>{{ Alerta.Fecha_alerta }}</td>
                    <td>{{ Alerta.Descripcion }}</td>

                    <td>
                        <form  method="post" class="form"> 
                            <input value = "{{ Alerta.Alerta_id}}" type="hidden" name="Alerta_id">

                            {% if Alerta.Estatus == 0 %}
                            <input value = "Activar" type="hidden" name="Accion">
                            <input type="submit" value="activar" class="form-btn" id = "activar-btn">
                            {% endif %}

                            {% if Alerta.Estatus == 1 %}
                            <input value = "Desactivar" type="hidden" name="Accion">
                            <input type="submit" value="desactivar" class="form-btn" id = "desactivar-btn">
                            {% endif %}
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock %}