<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'Añadir_sensor.css')}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="favicon.png">
    <title>Añadir sensor</title>
</head>
<body>

    <div class = "Registrarse-grid">
        <div class="form_conteiner_grid">
                <form method="post">
                    <div class="form_box">
                        <h1 id = form_title>Añadir sensor</h1>

                        <label class = "label-nombre">Nombre</label>
                        <input type="text" class = "Input-nombre" placeholder="&#xf2b9; Nombre" style="font-family:Arial, FontAwesome" name ="Nombre" >
                        <label class = "label-numero">Número </label>
                        <input type="number" class = "Input-numero" placeholder="&#xf292; Número de sensor" style="font-family:Arial, FontAwesome" name ="Numero_de_sensor" >
                        <label class = "label-ubicacion">Ubicación</label>
                        <input type="text" class = "Input-ubicacion" placeholder="&#xf041; Ubicación" style="font-family:Arial, FontAwesome" name ="Ubicación">
                        <input type="submit" value="Registrar" class="form-btn">
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>
</html>