<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'Registrarse.css')}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <title>Registrarse</title>
</head>
<body>

    <div class = "Registrarse-grid">
        <div class="form_conteiner_grid">
                <form action="" method="post">
                    <div class="form_box">
                        <h1 id = form_title>Registrarse</h1>
                        <label class = "label-email">Email</label>
                        <input type="email" class = "Input-email" placeholder="&#xf0e0; Email" style="font-family:Arial, FontAwesome" name = "Correo" >
                        <label class = "label-nombre">Nombre</label>
                        <input type="text" class = "Input-nombre" placeholder="&#xf2b9; Nombre" style="font-family:Arial, FontAwesome" name = "Nombre" >
                        <label class = "label-telefono">Número de teléfono</label>
                        <input type="number" class = "Input-telefono" placeholder="&#xf095; Número de teléfono" style="font-family:Arial, FontAwesome" name = "Numero" >
                        <label class = "label-contraseña">Contraseña</label>
                        <input type="password" class = "Input-contraseña" placeholder="&#xf023; Contraseña" style="font-family:Arial, FontAwesome" name = "Contraseña" >
                        <input type="submit" value="Registrarse" class="form-btn">
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>
</html>