{% extends 'Base_sistema.html' %}
{% block css_link %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'Resumen.css')}}">
{% endblock %}

{% block content %}
<div class="content-grid">
    <a class= "refresh-btn" href="/Sensores">
        <div class="refresh-btn-div">
            <i style="font-size:24px" class="fa">&#xf021;
            </i>
        </div>
    </a>
    <div class="alertas-grid">

        <p class = "alertas-txt">
            Alertas activas
        </p>
        <div class="alertas-div">
            <table class = "alertas-table">

                <tr class = "row">
                    <th class= "column" id="column-id">#</th>
                    <th class= "column" id="column-author">Fecha </th>
                    <th class= "column" id="column-title">Ubicación</th>
                    <th class= "column" id="column-action">Descripción</th>

                </tr>
                {% for Alerta in Tabla_alertas_activas %}
                <tr class = "row">
                    <td >{{ Alerta.Alerta_id }}</td>
                    <td>{{ Alerta.Fecha_alerta }}</td>
                    <td>{{ Alerta.Alerta_id }}</td>
                    <td>{{ Alerta.Descripcion }}</td>
                </tr>
                {% endfor %}


            </table>
        </div>
    </div>
    <div class="datos-grid">
        <p class="datos-txt"> Datos </p>
        <div class="table-div">
            <table class = "datos-table">

                <tr class = "row">
                    <th class= "column" id="column-id">id del sensor</th>
                    <th class= "column" id="column-author">Fecha </th>
                    <th class= "column" id="column-title">Temperatura</th>
                    <th class= "column" id="column-action">Concentración</th>
                    <th class= "column" id="column-content">Flama</th>
                </tr>
                {% for Dato in Datos_sensores %}
                <tr class = "row">
                    <td>{{ Dato.idSensor }}</td>
                    <td >{{ Dato.Fecha_informacion }}</td>
                    <td>{{ Dato.Temperatura }}</td>
                    <td>{{ Dato.Concentracion_humo }}</td>
                    <td>{{ Dato.Flama }}</td>
                {% endfor %}

            </table>
        </div>
    </div>
</div>
{% endblock %}